.principal-detail-product img{
  width: 100%;
}

.principal-detail-product h2 {
  margin: 10px 0 0px;
  font-weight: 500;
}

.principal-detail-product .product-serial-number {
  font-size: 1.5rem;
}

@media screen and (max-width: 601px){
  .principal-detail-product h2 {
    margin: 0px;
    font-size: 1.6rem;
  }

  .principal-detail-product .product-serial-number {
    font-size: 1.3rem;
  }
}