nav{

  background: #4995D7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A937FE, #4995D7, #61EEBF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A937FE, #4995D7, #61EEBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


nav a.btn {
  border: 1px solid white;
  box-shadow: none;
  border-radius: 10px;
}
/* 
nav a.btn-large:hover {
  background-color: rgba(100, 40, 40, 0.3);
  box-shadow: none;
} */