.user-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
}

.user-data-name {
  font-size: 1.1rem;
  line-height: 1.2rem;
  padding-left: 10px;
}

.user-data-roles {
  line-height: 1.1rem;
  font-size: 0.9rem;
  color: #A739FD;
  padding-left: 15px;
}

.user-photo {
  background-color: aquamarine;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  border: 3px solid #3575ad;
  color: #3575ad;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
}