@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem 0 2rem 0;
}

.progress {
  margin: -2px 0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.peanut.btn {
  background-color: #A739FD;
  color: white;
}

nav, main, footer {
  padding-left: 300px;
}

.container {
  width: 90% !important;
}

.container a{
  color: #A739FD;
  font-weight: 600;
}

@media screen and (max-width: 893px){
  nav, main, footer {
    padding-left: 0;
  }
}
